<%= portfolios %>
<%= test %>
<% if (items) { %>
<ul>

    <% items.forEach(function(item){ %>
    <li>
        <a href="<%= item.link %>"><%= item.name %></a>
        <%- partial('treeView', {items: item.children}) %>
    </li>
    <% }) %>

</ul>
<% } %>