<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
  </style>
</head>
<body>
  <%- include('partials/header.ejs' ) %>

    <div class="container text-center">    
        <div class="row">
          <div class="col-md-3 well">
            <div class="well">
              <p><a href="<%= user.login %>">My Profile</a></p>
              <%- include('partials/image.ejs') %>
              <h3>Location</h3>
              <h4><%= user.city %></h4>
            </div>
            <% if(portfolios.length){ %> 
              <div class="well">
                <p><a href="#">Portfolios</a></p>
                  <div class ="row well">
                    <% if(portfolios[0].children) { %> 
                      <% portfolios[0].children.forEach(function(index){ %>
                        <div class="col-lg-6">
                          <span class="label label-primary"><%= index.name %></span>
                          <% if(index.children) {%> 
                            <% index.children.forEach(function(childIndex){ %>
                              <span class="label label-success"><%= childIndex.name %></span>
                            <% }) %>
                          <% }%>
                        </div>
                      <% }) %>
                    <% }%>
                </div>
              </div>
            <% }%>
            
            <% if(messages.numOfNewMessages) { %>
              <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <p><strong>New Messages</strong></p>
                <% if(messages.numOfNewMessages ===1 ){ %>
                  You have a new message!
                <%} else {%>
                  You have <%= messages.numOfNewMessages %> new messages!
                <% } %>
              </div>
            <% } %>
          </div>
          <div class="col-md-7">
            <%- include('partials/feed.ejs' ) %>
          </div>
        <div class="col-md-2">
          <div class="row">
            <div class="thumbnail">
              <h3>Upcoming Events:</h3>
              
            <% if (events.length){ %>
              <% for(var i =0; (i< events.length || i===10);i++){ %>
                <% if(events[i].picture){ %>
                  <img src="<%= events[i].picture %>" alt="<%= events[i].title %>" width="400" height="300">
                <%} else { %>
                  <img src="/images/no-image.png" width="400" height="300" alt="<%= events[i].title %>">
                <% } %>
                <p><strong><%= events[i].title %></strong></p>
                <p><%= events[i].when %></p>
                <button class="btn btn-primary">Info</button>
              <% } %>
            <% } else {%>
              <p>No upcomming events</p>
            <% } %>
           </div>      
          </div>
        </div> 
      </div>
    </div>
</body>
</html>
