<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/header.ejs' ) %>
    <article class="container">
    	<section class="row">
    		<div class="col-md-6">
    			<h3><%= message.subject %></h3>
    		</div>
    		<div class="col-md-6 text-right">
    			<ul class="list-inline">
    				<li><span class="glyphicon glyphicon-share-alt icon-flipped"></span>reply</li>
    				<li><span class="glyphicon glyphicon-share-alt"></span>forward</li>
    				<li><span class="glyphicon glyphicon-trash"></span>trash</li>
    				<li><span class="glyphicon glyphicon-comment"></span>report</li>
    				
    			</ul>
    		</div>
    	</section>
    	<hr>
    	<section class="row">
    		<div>
    			<% if(message.sender.fb_avatar){ %>
    				<img src="<%= message.sender.fb_avatar%>" class="img-circle" width="100px"  alt="<%= message.sender.name %>"/>
    			<% } else if (message.sender.google_avatar) { %>
    				<img src="<%= message.sender.google_avatar%>" class="img-circle" width="100px"  alt="<%= message.sender.name %>"/>
    			<% } else { %>
    				<span>No Picture!</span>
    			<% } %>  
	   			<b><%= message.sender.name %></b>
  				<%= message.sender.login %>
    		</div>
    		<div class="row">
                <div class="form-group">
    			 <textarea class="form-control viewBox" rows= 40 readonly="true"><%= message.body %></textarea>
                </div>
    		</div>
    	</section>
    </article>
  </body>
</html>
