<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - <%= profile.name %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body>
  <%- include('partials/header.ejs' ) %>
  
    <div class = "container">
      <h2> <%= profile.name %></h2>
      <div class="row">
        <div class="col-md-6">
          <% if(profile.fb_avatar){ %>
            <img src="<%= profile.fb_avatar%>" class="img-circle" width="100px"  alt="<%= profile.name %>"/>
          <% } else if (profile.google_avatar) { %>
            <img src="<%= profile.google_avatar%>" class="img-circle" width="100px"  alt="<%= profile.name %>"/>
          <% } else { %>
            <p>No Picture!</p>
          <% } %>

        </div>
        <div class="col-md-6">
          <p> Location: <%= profile.city %> </p>
          <p> <%= profile.type %> </p>
          <% if(profile.career !='other') { %>
            <p> Career: <%= profile.career %> </p>
          <% } %>
          <p> Followers: <%= profile.followers.length%></p>
        </div>
      </div>
        <div class= "form-group">
          <p> Bio: <textarea class="form-control" rows= 10 readonly="true"><%= profile.bio%></textarea> </p>
        </div>
      <% if(portfolios.length>0){ %>
        <h3><%= portfolios[0].name %></h3>
        <hr>
        <div class = "row">
          <% if(portfolios[0].children) { %> 
            <% portfolios[0].children.forEach(function(index){ %> 
            <!-- If there are any children, check if they have entries -->
            <% if(index.children.length){ %> 
              <div class="col-md-6">
                <h4><%= index.name %></h4>
                <% index.children.forEach(function(firstDepth){ %>
                  <p><%= firstDepth.name %></p>
                  <% if(firstDepth.entries) { %>
                    <div class="well" >
                      <% firstDepth.entries.forEach(function(secondEntries){ %>
                      <p><%= secondEntries.title %></p>
                      <p><%= secondEntries.category %></p>
                      <p><%= secondEntries.description %></p>
                      <div>
                        <% secondEntries.content.forEach(function(content){ %>
                          <div class="row">
                            <div class="col-md-4">
                              <img src="<%- content.src %>" alt="<%- content.desc %>" />
                              <p><%= content.desc %></p>
                            </div>
                          </div>
                        <% }) %>
                      </div>
                      <% }) %>
                    </div>
                  <% } %>
                <% }) %>
              </div>
            <% } %>
          <!-- If there were any pictures in the first level -->
          <% if(index.entries) { %>
            <% index.entries.forEach(function(firstEntries){ %>
              <p><%= firstEntries %></p>
            <% }) %>
          <% } %>
        <% }) %>
      <% } %>
      <% } %>
      </div>
      <footer>
        <a href="/users">Back to users</a>
      </footer>
    </div>
  </body>
</html>
